<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ответ на ваш запрос</title>
</head>
<body>
    <main>
    <header>
        <h1>
            Ответ на ваш запрос
        </h1>
    </header>
    <form action="/" method="get" target=_self>
        <input type="submit" class="input_button" value="Вернуться на главную страницу">     
    </form>
    <p></p>
    {{text}}
    </main>
</body>
</html>