<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert_page</title>
</head>
<body>
    <header>
        <h1>
            Загрузка новых кодов в формате excel таблиц
        </h1>
    </header>
    <form action="/" method="get" target=_self>
        <input type="submit" class="input_button" value="Вернуться на главную страницу">     
    </form> 
    <main>
        <h3>Загрузите файл в формате колонок (Наименование	Серийный номер	MAC-адрес,printed) </h3>
        <h3>Если каких-то колонок не хватает-выставьте пустое место с нужным названием столбца</h3>
        <form enctype="multipart/form-data" method="post" action="/insert_new_codes_excel">
            <p></p>
                <input type="file" name="file" />
            </p><p>
            <input type="submit" value="Отправить" />
  
    </main>
</body>
</html>