<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BD_work</title>
</head>
<body>
    <header>
        <h1>
            Страница для работы с базой данных кодов 
        </h1>
    </header>
    <main>
        <h3>Добавить новое устройство</h3>
        <form action="/get_create_table_page" method="get" target=_self>
            <p></p>
            <input type="submit" class="input_button" value="Открыть страницу создания таблиц">
        <p></p>
        <p></p>
        <h3>Создание свободных кодов</h3>
        <p></p>
        <form action="/get_create_page" method="get" target=_self>
            <p></p>
            <input type="submit" class="input_button" value="Открыть страницу создания кодов">
        <p></p>
        <h3>Выдача свободных кодов</h3>
        <form action="/get_giving_page" method="get" target=_self>
            <p></p>
            <input type="submit" class="input_button" value="Открыть страницу выдачи кодов">
        <p></p>
    </main>
</body>
</html>