<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BD_work</title>
</head>
<body>
    <header>
        <h1>
            Страница для работы с базой данных кодов 
        </h1>
    </header>
    <main>
        <h3>Добавить новые паспорта от булата( и других) в базу</h3>
        <form action="/insert_new_codes_page" method="get" target=_self>
            <p></p>
            <input type="submit" class="input_button" value="Открыть страницу для загрузки эксель файлов в бд">
        </form>
        <p></p>
        <p></p>
        <h3>Создать новые шаблоны наших устройств, изменить имеющиеся и сгенерировать новые коды</h3>
        <form action="/generate_free_codes_page" method="get" target=_self>
            <p></p>
            <input type="submit" class="input_button" value="Открыть страницу выдачи кодов">
        </form>
        <p></p>
        <h3>Просмотр всех паспортов в системе</h3>
        <form action="/table_of_passports" method="get" target="_self">
            <p></p>
            <input type="submit" class="input_button" value="Открыть страницу выдачи кодов">
        </form>
    </main>
</body>
</html>